* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: overlay;
    position: relative;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
}

.mouseCursor {
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}

#main {
    width: 100%;
    background-color: #fff;
}

#home-page {
    width: 100%;
    min-height: 100vh;
}

.nav {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightgreen; */
}

.author-logo {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* .nav-left {
    background-color: #8739f9 ;
} */

.nav-right {
    display: flex;
    /* background-color: #817f7f; */
    align-items: center;
    justify-content: space-between;
}

.nav-right a {
    margin-left: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    /* font-family: "Roboto Flex Regular"; */
    /* font-family: "Matter Regular"; */
    font-family: 'Nunito Sans', sans-serif;
    word-spacing: 0px;
}

#menu-icon {
    margin-left: 9px;
}

.nav-right i {
    margin-top: 1px;
    margin-left: 9px;
}

.menu-container {
    background-color: #161616;
    position: absolute;
    z-index: 9999;
    margin-top: -87px;
    margin-left: 80vw;
    padding: 3vw 3vw;
    width: 20vw;
    padding-bottom: 30vh;
    left: 22.369791666666666vw;
    /* 190px */
}

.menu-container-upper {
    display: flex;
    justify-content: space-between;
}

.menu-upper-left {
    font-size: 17px;
    font-family: "Matter Regular";
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

.menu-upper-right {
    color: #fff;
}

.menu-container-lower {
    margin-top: 4vw;
}

.menu-container-lower p {
    font-size: 17px;
    font-family: "Matter Light";
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #fff;
}

.content-container {
    /* background-color: lightgreen; */
    width: 100%;
    padding: 15vw 11vw;
    /* background-color: #e86c07; */
    /* background-color: #817f7f; */
}

.cover {
    width: fit-content;
    height: fit-content;
    /* background-color: chartreuse; */
    overflow: hidden;
    padding-bottom: 0%;
}

.cover-content {
    transform: translateY(100%);
}

.content {
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: column;
}

.content-upper {
    font-family: "Matter Regular";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-left: 6px;
    color: #000;
}

.content-upper::selection {
    color: #fff;
    background-color: #000;
}

.content-medium {
    /* font-family: "Matter Regular"; */
    font-family: 'Nunito Sans', sans-serif;

    font-size: 7.5rem;
    /* 120 px   7.8125vw  7.5rem*/
    color: transparent;
    -webkit-text-stroke: 2px #605d5d;
    letter-spacing: -6px;
}

.based-container {
    align-self: flex-end;
}

.content-lower {
    font-family: "Matter Regular";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    /* margin-left: 75.5%; */
    margin-top: 10px;
    display: none;
}

.end-home-page {
    width: 100%;
    /* background-color: lightcoral; */
    padding: 1vw 11vw;
    display: flex;
    flex-direction: column;
}

.end-content {
    font-family: "Matter Regular";
    font-size: 30px;
    font-weight: 600;
    word-spacing: 2px;
    line-height: 40px;
    transform: translateX(100%);
}

.end-content::selection {
    color: #fff;
    background-color: #000;
}

/* second-page */

#second-page {
    background-color: #161616;
    width: 100%;
    margin-top: 20px;
    padding: 3vw 11vw;
    /* border-radius: 20%; */
}

.featured-text {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    /* background-color: #1DB954; */
}

.featured-heading {
    font-family: "Matter Regular";
    font-size: 120px;
    font-weight: 500;
    color: #fff;
}

.featured-project {
    font-family: "Matter Light";
    font-style: italic;
    margin-left: 12.5vw;
}

.featured-projects {
    height: 90vh;
    /* background-color: lightblue; */
    margin-top: 9vw;

}

.scroll-instruction {
    font-family: "Matter Light";
    font-size: 20px;
    color: #817f7f;
    padding-bottom: 2vw;
    /* background-color: #e86c07; */
    margin-top: -6vw;
    font-style: italic;
    margin-bottom: 4vw;

}

.scrollIconBody {
    width: 100%;
    height: 1vw;
    background-color: #585455;
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    border-radius: 10px;
    padding-left: 0.5vw;
    overflow-x: hidden;
    display: none;
}

.scroll-icon {
    width: 5vw;
    background-color: #fff;
    height: 4px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    /* display: none; */
}

.scrollIcon {
    color: #fff;
    font-size: 40px;
    display: none;
}

.featured-body {
    /* overflow: auto; */
    overflow-x: auto;
    /* direction: rtl; */
    /* transform: rotateX(180deg); */
    /* 45% */
    /* background-color: lightcoral;
    margin-top: -15vw; */
    height: 75vh;
    width: 78vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #1DB954; */
    /* padding-right: 15vw                                                                                                                                  ; */
    /* background-color: crimson; */
    /* background-color: #313030; */
    /* justify-content: space-between; */
    /* box-shadow: 0px 0px 2spx 5px #7a7070 inset; */
}

.featured-body a {
    text-decoration: none;
    /* background-color: crimson; */
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: row;
    margin-bottom: 1vw;
    /* height: inherit; */
    height: max-content;
    margin: 0vh 0vw;
    /* direction: ltr;   */
    /* background-color: #8739f9; */
    /* transform: rotateX(-180deg); */
}

.featured-body::-webkit-scrollbar {
    width: 3px;
    /* background: blue; */
    background-color: #585455;
    /* transparent */
    height: 10px;
    padding: 5px 5px;
    border-radius: 15px;
    /* transform: rotateY(45deg); */
    /* display: none; */

}

.featured-body::-webkit-scrollbar-thumb {
    background: #fff;
    width: 3px;
    border-radius: 15px;
}

.project-body {
    /* background-color: crimson; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1vw;
    /* height: inherit; */
    height: max-content;
    margin: 0vh 11.5vw;
    /* direction: ltr;   */
    /* background-color: #8739f9; */
    /* transform: rotateX(-180deg); */

}

.project-description {
    width: 45%;
    /* background-color: grey; */
    /* height: inherit; */
    /* height: 39vh; */
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    /* padding-left: 0.5vw; */
    margin-right: 5vw;
    /* background-color: #e86c07; */
}

.project-name {
    font-family: "Matter Light";
    font-size: 29px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.project-short-description {
    font-family: "Matter Regular";
    /* font-size: 37px; */
    /* font-size:calc(22px + 1.5vw); */
    font-size: 2.4088541666666665vw;
    font-weight: 400;
    text-transform: capitalize;
    color: #817f7f;
}

.special {
    color: #817f7f;
    color: #8739f9;
    font-style: italic;
    font-family: "Matter Light";
    text-transform: initial;
}

.special-2 {
    color: #e86c07;
    font-family: "Matter Light";
    font-style: italic;
}

.special-3 {
    color: #0b2c87;
    font-family: "Matter Light";
    font-style: italic;
}

.special-4 {
    color: #1DB954;
    font-family: "Matter Light";
    font-style: italic;
}

.project-tags {
    font-family: "Matter Regular";
    font-size: 1.1067708333333333vw;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    opacity: 0.3;
}

.project-preview {
    /* width: 45%; */
    width: 40vw;
    /* height: 100%; */
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
}

.project-asset {
    width: 100%;
}

.view-projects {
    margin-top: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-projects button {
    padding: 1.3vw 2vw;
    font-family: "Matter Regular";
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #7a7070;
    border-radius: 100px;
    margin-bottom: 10vw;
}

#third-page {
    /* background-color: lightgreen; */
    width: 100%;
    padding-top: 13vw;
    padding-bottom: 13vw;
    background-color: #fff;
}

.third-page-content {
    margin-top: -15vh;
}

.third-page-upper {
    color: #000;
    font-family: "Matter Regular";
    font-size: 100px;
    display: flex;
    flex-direction: column;
    padding: 5vw 11vw;
    padding-bottom: 1vw;
}

.hey {
    font-family: "Matter Light";
    font-style: italic;
}

.third-page-middle {
    /* background-color: #161616; */
    padding: 3vw 11vw;
    margin-top: 2vw;
}

.third-page-middle p {
    font-family: "Matter Light";
    font-size: 30px;
}

.third-page-lower {
    /* background-color: lightgray; */
    padding: 0vw 11vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2vw;
}

.third-page-lower button {
    padding: 1.3vw 2vw;
    font-family: "Matter Regular";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    background-color: transparent;
    border: 2.5px solid #000;
    border-radius: 100px;
    text-transform: capitalize;
}

#fourth-page {
    width: 100%;
    background-color: #161616;
    /* background-color: #000; */
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.fourth-page-upper {
    padding: 3vw 11vw;
    color: #fff;
    padding-bottom: 0vw;
}

.fourth-page-upper p {
    font-family: "Matter Regular";
    font-size: 120px;
    font-weight: 500;
    color: #fff;
    margin-top: -2vw;
}

.fourth-page-upper p::selection {
    color: #000;
    background-color: #fff;
}

.resources {
    font-family: "Matter Light";
    font-style: italic;
}

.fourth-page-middle {
    padding: 3vw 11vw;
    padding-top: 4.5vw;
}

.fourth-page-middle button {
    padding: 1.3vw 2vw;
    font-family: "Matter Regular";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #7a7070;
    border-radius: 100px;
    text-transform: capitalize;
}

.fourth-page-lower {
    /* background-color: lightgreen; */
    padding: 0vw 11vw;
    margin-top: -1vw;
}

.fourth-page-lower p {
    font-family: "Matter Light";
    width: 62.5%;
    /* background-color: crimson; */
    font-size: 24px;
    font-weight: 200;
    color: #fff;
}



@media (max-width:600px) {
    html {
        overflow-x: hidden;
    }

    body {
        width: 100vw;
        /* overflow-x: hidden; */
    }

    @font-face {
        font-family: "Matter Regular";
        src:
            local("Matter Regular"),
            url("resources/fonts-ttf/matter-regular.ttf") format("ttf");
    }

    .nav {
        width: 100%;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: lightgreen; */
        /* background-color: #161616; */
    }

    .menu-container {
        background-color: #161616;
        position: absolute;
        z-index: 999;
        margin-top: -87px;
        margin-left: 49vw;
        padding: 8vw 3vw;
        width: 50vw;
        padding-bottom: 4vh;
        left: 51vw;
    }

    .menu-container-upper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vw;
    }

    .menu-upper-left {
        font-size: 17px;
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        color: #fff;
    }

    .menu-upper-right {
        color: #fff;
    }

    .menu-container-lower {
        margin-top: 4vw;
    }

    .menu-container-lower p {
        font-size: 14px;
        letter-spacing: 1.5px;
        font-family: "Matter Light";
        /* font-family: 'Nunito Sans', sans-serif; */
        text-transform: capitalize;
        margin-bottom: 20px;
        color: #fff;
    }

    .show-reel {
        display: none;
    }

    .author-logo {
        font-family: 'Space Mono', monospace;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .nav-right {
        display: flex;
        /* background-color: #817f7f; */
        display: flex;
        /* align-items: center; */
        /* justify-content: space-between; */
    }

    .nav-right a {
        margin-left: 10px;
        font-size: 14px;
        text-decoration: none;
        color: #000;
        /* font-family: "Roboto Flex Regular"; */
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        word-spacing: 0px;
    }

    #menu-icon {
        margin-left: 9px;
    }

    .nav-right i {
        margin-top: 1px;
    }

    .content-container {
        /* background-color: #a2a3a5; */
        width: 100vw;
        height: 68.4vh;
        /* padding: 15vw 8vw; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        /* background-color: lightgreen; */
        width: 100vw;
        display: flex;
    }

    .content-upper {
        font-size: 30px;
        /* margin-bottom: 10px; */
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
        margin-left: 2px;
    }


    .content-medium {
        font-size: 70px;
        letter-spacing: -2px;
        line-height: 63px;
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
    }

    .content-lower {
        font-size: 30px;
        display: block;
        /* align-self: flex-end; */
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
        margin-top: 10px;
    }

    .end-content {
        font-size: 25px;
        font-weight: 600;
        word-spacing: 2px;
        line-height: 28px;
        margin-bottom: 10px;
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
    }

    .featured-heading {
        font-size: 70px;
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
    }

    .scroll-instruction {
        font-size: 15px;
        color: #817f7f;
        padding-bottom: 2vw;
        margin-top: -6vw;
        margin-bottom: 4vw;
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
    }

    .scrollIconBody {
        display: none;
    }

    .featured-body {
        /* overflow: auto; */
        overflow-x: auto;
        /* direction: rtl; */
        /* transform: rotateX(180deg); */
        /* 45% */
        /* background-color: lightcoral;
        margin-top: -15vw; */
        height: 60vh;
        width: 78vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* background-color: #1DB954; */
        /* padding-right: 15vw                                                                                                                                  ; */
        /* background-color: crimson; */
        /* background-color: #313030; */
        /* justify-content: space-between; */
        /* box-shadow: 0px 0px 2spx 5px #7a7070 inset; */
    }

    .project-name {
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
    }

    .special,
    .special-2,
    .special-3,
    .special-4 {
        /* font-family: 'Nunito Sans', sans-serif; */
        font-family: "Matter Regular";
    }

    .featured-body a {
        text-decoration: none;
        /* background-color: crimson; */
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        flex-direction: row;
        margin-bottom: 1vw;
        /* height: inherit; */
        height: max-content;
        margin: 0vh 0vw;
        /* direction: ltr;   */
        /* background-color: #8739f9; */
        /* transform: rotateX(-180deg); */
    }

    .featured-body::-webkit-scrollbar {
        width: 3px;
        /* background: blue; */
        background-color: #434142;
        /* background-color: transparent; */
        /* transparent */
        height: 5px;
        padding: 5px 5px;
        border-radius: 15px;
        /* transform: rotateY(45deg); */
        /* display: none; */

    }


    .featured-body::-webkit-scrollbar-thumb {
        background: #bdbcbc;
        width: 3px;
        border-radius: 15px;
    }

    .project-body {
        /* background-color: crimson; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 1vw;
        /* height: inherit; */
        height: max-content;
        margin: 0vh 7.9vw;
        /* direction: ltr;   */
        /* background-color: #8739f9; */
        /* transform: rotateX(-180deg); */

    }

    .project-description {
        /* width: 45%; */
        /* width: max-content; */
        width: 63vw;
        /* background-color: grey; */
        /* height: inherit; */
        /* height: 39vh; */
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-left: 0.5vw;
        /* background-color: #e86c07; */
        margin-bottom: 3.5vh;
    }

    .project-short-description {
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        /* font-size: 37px; */
        /* font-size:calc(22px + 1.5vw); */
        /* font-size: 2.4088541666666665vw; */
        font-size: calc(15px + 1.5vw);
        font-weight: 400;
        text-transform: capitalize;
        color: #817f7f;
    }

    .project-tags {
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        font-size: 15px;
        /* margin-top: 1.3020833333333333vw; */
        font-size: calc(8.5px + 1.5vw);
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: capitalize;
        opacity: 0.3;
    }

    .project-preview {
        /* width: 45%; */
        width: 63vw;
        margin-left: -4vw;
        /* height: 100%; */
        /* background-color: lightgreen; */
        /* display: flex;
        justify-content: start; */
    }

    .view-projects {
        margin-top: -25vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .view-projects button {
        padding: 2.3vw 3vw;
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        font-size: 15px;
        color: #fff;
        letter-spacing: 1.2px;
        background-color: transparent;
        border: 2px solid #7a7070;
        border-radius: 100px;
        /* margin-bottom: 10vw; */
    }

    #third-page {
        /* background-color: lightgreen; */
        height: 110vh;
        width: 100%;
        padding-top: 13vw;
        padding-bottom: 13vw;
        background-color: #fff;
        /* background-color: #8739f9; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .third-page-upper {
        color: #000;
        font-family: "Matter Regular";
        font-family: 'Nunito Sans';
        font-size: 48px;
        display: flex;
        flex-direction: column;
        padding: 5vw 11vw;
        padding-bottom: 1vw;
    }

    .hey {
        /* font-family: 'Nunito Sans'; */
        font-family: "Matter Regular";
    }


    .third-page-middle {
        /* background-color: #161616; */
        padding: 3vw 11vw;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

    .third-page-middle p {
        font-family: "Matter Light";
        /* font-family: 'Nunito Sans', sans-serif; */
        font-size: 30px;
    }

    .third-page-lower {
        /* background-color: lightgray; */
        padding: 0vw 11vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
        gap: 2vw;
    }

    .third-page-lower button {
        padding: 2.3vw 3vw;
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        font-size: 17px;
        font-weight: 500;
        color: #000;
        background-color: transparent;
        border: 2px solid #000;
        border-radius: 100px;
        text-transform: capitalize;
        margin: 0.5vh 0vh;
    }

    #fourth-page {
        width: 100%;
        height: 100vh;
        background-color: #161616;
        /* padding-top: 10vw; */
        padding-bottom: 10vw;
        padding-left: 11vw;
        padding-right: 11vw;
        display: flex;
        align-items: center;
    }

    .fourth-page-content {
        padding: 0%;
        /* background-color: #0b2c87; */
        margin: 0%;
        /* border: 2px solid red; */
    }

    .fourth-page-upper {
        /* padding: 3vw 11vw; */
        color: #fff;
        padding-bottom: 0vw;
        /* background-color: #1DB954; */
        padding: 0vw 0vw;
    }

    .fourth-page-upper p {
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        font-size: 50px;
        font-weight: 500;
        color: #fff;
        margin-top: -2vw;
    }

    .fourth-page-middle {
        /* padding: 3vw 11vw; */
        padding: 4.5vw 0vw;
        /* background-color: #e86c07; */
    }

    .fourth-page-middle button {
        padding: 1.3vw 2vw;
        font-family: "Matter Regular";
        /* font-family: 'Nunito Sans', sans-serif; */
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #fff;
        background-color: transparent;
        border: 2px solid #7a7070;
        border-radius: 100px;
        text-transform: capitalize;
    }

    .fourth-page-lower {
        /* background-color: lightgreen; */
        /* padding: 0vw 11vw; */
        padding: 3vw 0vw;
        /* background-color: lightcoral; */
    }

    .fourth-page-lower p {
        font-family: "Matter Light";
        /* font-family: 'Nunito Sans', sans-serif; */
        width: 100%;
        /* background-color: crimson; */
        font-size: 20px;
        font-weight: 200;
        color: #fff;
    }

}

/* notes */

/* 1- piano embed italic + violet color
   2- project-tags less font-weight 
   3- home-page center conter color black on hover
   4- third page button border to be thin*/